.contentsWrapper {
  margin: 0;
  padding: 0;
  text-align: center;

  h1 {
    margin: 60px 0;
  }

  ul {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
  
    li {
      display: inline-block;
      width: 100px;
      margin-top: 10px;
      padding-left: 40px;
      list-style: none;
    }
  }

}



