.contentsWrapper {
  margin: 0;
  padding: 60px 0;
  text-align: center;

  h1 {
    margin-bottom: 60px;
  }

  ul {
    width: 60%;
    margin: 60px auto;
    padding: 0;
    text-align: left;
  
    li {
      display: inline-block;
      width: 100px;
      margin-top: 10px;
      padding-left: 40px;
      list-style: none;
    }
  }

  .recharts-wrapper {
    margin: 0 auto;

    .recharts-legend-wrapper {
      padding-top: 20px;
  
      .recharts-default-legend {
        width: 100%; 
      }
    }

    .recharts-default-tooltip {
      padding: 0;
      width: 220px;
    }
  }
}



